<div class="container">
    <p><strong>Customer name:</strong> {{customer.name}}</p>
    <p><strong>Account number:</strong> {{customer.accNum}}</p>
    <p><strong>Balance:</strong> {{customer.balance}}</p>
    <p><strong>Status:</strong> {{customer.status}}</p>
</div>